.videos{
    height: 500px;
    width:98%;
    margin:auto;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    background-color: aqua;
}
.main_video{
    height: 80%;
    background-color: beige;
}
.allvideo{
    height:80%;
    background-color: brown;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content:space-around ;

}

.right{
    height: 80%;
    background-color: chocolate;
    text-align: center;
}