body{
    margin: 0;
    padding: 0;
    background-color: rgb(28, 4, 53);
}
.whole{
    height: 80px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Upper{
    margin: auto    ;
    height: 50%;
    width:97%;
    /* border: 1px solid red; */
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
 
}

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 10%;
    /* border: 1px solid blue; */
    height: 100%;
    position: relative;
    width: 30%;
    
}
.down{
    height: 50%;
    width:100%;
    /* border: 1px solid rgb(0, 8, 255); */
}

.buyplan{
   
    padding: 3px;
    background-color: rgb(183, 13, 13);
    border-radius: 10%;
   

  
}
.rig{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 30%;
    /* border: 1px solid blue; */
    height: 100%;
    position: relative;
}
.down{
    /* color:white; */
    margin: auto    ;
    height: 50%;
    width:97%;
    /* border: 1px solid red; */
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.fa-camera-movie{
    color:white;
}

.navlink{
    cursor: pointer;
    text-align: center;
}
.test{
    height: 900px;
    width: 20px;
    background-color: red;
}

/* ////////////////////// */
.slides{
    height: 450px;
    width: 98%;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 100px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
/* .in h4{
    color: aliceblue;
    text-align: center;
} */

.pos{
    height: 80%;
    width: 100%;
}
@media (width<=700px) {

    .slides{
       
        grid-template-columns: 100%;
    }
   
  }

  .divscroll{
    height:250px;
    width:98%;
    margin: auto;
    /* background-color: rgb(185, 53, 53); */
    /* margin-top:80px; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    /* background-color: rgb(255, 31, 76); */
}
.divscroll::-webkit-scrollbar{
    display: none;
}
 .inside{
height: 98%;
min-width: 20%;
/* background-color: rgb(240, 148, 28); */
margin-right: 10px;
text-align: center;
text-decoration: none;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: relative;
border: 1px solid rgb(241, 15, 15);

}
.inside p{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
}
.coverdivscroll{
    text-align: center;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
@media (width<=700px) {
.coverdivscroll
    {
       margin-top: 180px;
        
    }
   
  }
.fa-forward-step{
position: absolute;
/* font-size: 200px; */
right: 10%;
z-index: 1;
bottom: 45%;
padding: 1%;
background-color: rgb(168, 119, 236);
color: rgb(225, 92, 92);
border-radius: 50%;
box-shadow: 2px 3px black;
cursor: pointer;
}
.fa-backward-step{
    position: absolute;
/* font-size: 200px; */
left: 10%;
z-index: 1;
bottom: 45%;
padding: 1%;
background-color: rgb(168, 119, 236);
color: rgb(225, 92, 92);
border-radius: 50%;
box-shadow: 2px 3px black;
cursor: pointer;
}

/* comedy movie */
/* .coverdivscroll1{
    text-align: center;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
  
} */

.divscroll1{
    height:250px;
    width:98%;
    margin: auto;
    /* background-color: rgb(185, 53, 53); */
    /* margin-top:80px; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    /* background-color: rgb(255, 31, 76); */
}
.divscroll1::-webkit-scrollbar{
    display: none;
}


/* footer */



footer{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: grid;
    justify-content: end;
    align-content: end;
     height: auto;
    padding: 10px 100px;
    background: rgba(30, 3, 57, 0.235);
    border: 1px solid red ;
  
  }
  
  
  footer .contai .sec p{
    color: #fff;
  }
  
  .sci{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
  }
  
  .sci li{
    list-style: none;
  }
  
  .sci li a{
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #dadadd;
    display: grid;
    justify-content: center;
    align-content: center;
    text-decoration: none;
  
  }
  
  footer .contai{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap:22px; 
  
  }
  
  footer .contai .sec h2{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  
  
  .sci li a:hover{
    background: #59e575;
  }
  
  
  
  .quicklink{
    position: relative;
  }
  
  .quicklink li{
    list-style: none;
  }
  
  .quicklink li a{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .quicklink li a:hover{
    color: #3befff;
  
  }
  
  .info{
  position: relative;   
  }
  
  .info li{
    display: grid;
    grid-template-columns:30px 1fr;
  }
  
  .info li span:nth-child(1)
  {
    color: #fff;
    font-size: 20px;
  }
  
  .info li span{
    color: white;
  }
  
  .info a{
    color:#f7f7f7;
    text-decoration: none;
  }
  
  .info a:hover{
    color: #ffeb3b;
  }
  
  .copyright{
  
    background:  rgba(30, 3, 57, 0.235);
    color:white;
    text-align: center;
    padding: 10px 39px;
    border: 1px solid rgb(110, 6, 6);
  }
  
  /* =======Responsive======= */
  
  @media (max-width:900px) {
    footer{
        padding: 40px;
    }
  
    footer .contai{
        width:100%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
  
  }
  
  
  @media (max-width:700px) {
  
    footer .contai{
        width:100%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
  
  }
  
  .reviewdiv{
    text-align: center;
    margin-top: 80px;
  }
  .reviewdiv h1{
    color:#3befff
  }
  .coverpros{
    text-align: center;
  }
  .coverpros h1{
    color:#3befff
  }
  .text2{
    margin-left: 30px;
    border-top-right-radius: 100px;
  }